<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo"src="/images/logo-mercado-liebre.svg" alt="logo">
            <div class="search">
                <form form action="/" method="POST">
                    <input type="text" name="search" id="" placeholder="Buscar productos,marcas y más">
                </form>
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </div>
            <div>
                <h2 class="copy-header">
                <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="https://mercadoliebreboca.herokuapp.com/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="https://mercadoliebreboca.herokuapp.com/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="secciones">
        <section>
        <h2 class="titular">Basado en tu última visita</h2>
        <div class="contenedorArticulos">   
            <article>
                <img class="tamañoimagen"src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                <div class="contenedorCamion">
                    <i class="fa-solid fa-truck logoEnvio"></i>
                </div>
                
                <div class="contenedorDetalle">
                    <p class="precio interlineado">$6.770</p><!--Precio producto-->
                    <p class="descuento interlineado">40 % off</p><!--Porcentaje de descuento-->
                </div>
                <div>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img class="tamañoimagen"src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro">
                <div class="contenedorCamion">
                    <i class="fa-solid fa-truck logoEnvio"></i>
                </div>
                <div class="contenedorDetalle">

                    <p class="precio interlineado">$230.000</p><!--Precio producto-->
                    <p class="descuento interlineado">20 % off</p><!--Porcentaje de descuento-->
                </div>
                <div>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img class="tamañoimagen"src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <div class="contenedorCamion">
                    <i class="fa-solid fa-truck logoEnvio"></i>
                </div>
                <div class="contenedorDetalle">
                    
                    <p class="precio interlineado">$70.500</p><!--Precio producto-->
                    <p class="descuento interlineado">10 % off</p><!--Porcentaje de descuento-->
                </div>
                <div>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img class="tamañoimagen"src="/images/img-tv-samsung-smart.jpg" alt="Smar TV Samsung">
                <div class="contenedorCamion">
                    <i class="fa-solid fa-truck logoEnvio"></i>
                </div>
                <div class="contenedorDetalle">
                    
                    <p class="precio interlineado">$23.200</p><!--Precio producto-->
                    <p class="descuento interlineado">5 % off</p><!--Porcentaje de descuento-->
                </div>
                <div>
                    <h3 class="descripcion">SmartTv Samnsung 43"</h3>
                </div>
            </article>
        </div> 
        </section>
        <section>
            <h2 class="titular">Sección de Ofertas</h2>
        <div class="contenedorArticulos">
            <article>
                <img class="tamañoimagen"src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                
                <div class="contenedorCamion">
                    <i class="fa-solid fa-truck logoEnvio"></i>
                </div>
                <div class="contenedorDetalle">
                    
                    <p class="precio interlineado">$6.770</p><!--Precio producto-->
                    <p class="descuento interlineado">40 % off</p><!--Porcentaje de descuento-->
                </div>
                <div>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img class="tamañoimagen"src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro">
                <div class="contenedorCamion">
                    <i class="fa-solid fa-truck logoEnvio"></i>
                </div>
                <div class="contenedorDetalle">
                    
                    <p class="precio interlineado">$230.000</p><!--Precio producto-->
                    <p class="descuento interlineado">20 % off</p><!--Porcentaje de descuento-->
                </div>
                <div>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img class="tamañoimagen"src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <div class="contenedorCamion">
                    <i class="fa-solid fa-truck logoEnvio"></i>
                </div>
                <div class="contenedorDetalle">
                    
                    <p class="precio interlineado">$70.500</p><!--Precio producto-->
                    <p class="descuento interlineado">10 % off</p><!--Porcentaje de descuento-->
                </div>
                <div>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img class="tamañoimagen"src="/images/img-tv-samsung-smart.jpg" alt="Smar TV Samsung">
                <div class="contenedorCamion">
                    <i class="fa-solid fa-truck logoEnvio"></i>
                </div>
                <div class="contenedorDetalle">
                    
                    <p class="precio interlineado">$23.200</p><!--Precio producto-->
                    <p class="descuento interlineado">5 % off</p><!--Porcentaje de descuento-->
                </div>
                <div>
                    <h3 class="descripcion">SmartTv Samnsung 43"</h3>
                </div>
            </article>
        </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <div>
                <i class="fa-solid fa-credit-card icono"></i>
                <h3>Pagá con tarjeta o efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fa-solid fa-gift icono"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield icono"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <div>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/44cb4f9f6f.js" crossorigin="anonymous"></script>
</body>
</html>